.App {
  text-align: center;
  margin: auto;
  width: 600px;
  height: 800px;
}

.upper-progress-bar {
  width: 100%;
  height: 16px;
  background: white;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.upper-progress-bar div {
  background: #A9AAA9
}
