.button-wrapper {
  width: 50%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 16px
}

.button {
  border-radius: 8px;
  border-width: 1px;
  min-width: 200px;
  height: 32px;
}

.button-incorrect {
  background-color: white;
  color: black;
  border: solid;
  border-width: 1px;
}
